*.o
*.a
*.so
*~
.DS_Store

misc/yas-grammar.c
misc/hcl.tab.c
misc/hcl.tab.h
misc/lex.yy.c

misc/yas
misc/yis
misc/hcl2c
misc/hcl2v

seq/seq-*.c
pipe/pipe-*.c

seq/ssim
seq/ssim+
pipe/psim

pipe/*.yo
pipe/*.ys
y86-code/*.yo
y86-code/*.ys

y86-code/*.out
